{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
        <div class="card mb-4">
          <div class="card-body">

<h2>About Us</h2>
<hr>
<p> 
    The essential element of copyright, which is the right to control the reproduction of original work of authorship,
     works as expected when the object is tangible, as a copyright owner can provide a clear distinction between access 
     and reproduction. However, within the digital environment there is an intimate connection between copying and access, 
     where copying is required to give access and in most cases the copyright owner cannot control reproduction thereafter. 
     This thesis builds a platform to manage and enforce digital property rights. The platform consists of a dashboard which 
     manages digital property rights of users. The use cases are primarily focused on the medical field and financial field. 
     Although it is difficult to prevent unauthorized copying once a third party gains access to a digital object, it is possible 
     to prove ownership of the digital objects and locate the breach of illegal copies and thus enforce ownership rights. <br>

     When you embed you file, the one that is one our website is unique with your name, thus utilmately that is the copy you want out and
     not the original one.

     So if you ever find that file somewhere you can take it and show it is yours , with your makings on it.
    
</p>

</div>
</div>
</div>
</div>
</div>

{% endblock %}