{% load static %}

<!doctype html>
<html lang="en">
<head>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="{% static 'site_images/site_logo.png' %}" type="image/png">
  <title>{% block title %}Digital Ownership Platform{% endblock %}</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <img src="{% static 'site_images/site_logo.png' %}" alt="Site Logo" style="width: 35px;" text-align="center">
      &nbsp;
      <a class="navbar-brand" href="{% url 'register' %}">OwnIT</a>
      &nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp&nbsp;
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'menu_embed' %}">Embed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'menu_extraction' %}">Extract</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'embedded_files' %}">Embedded Files</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'services' %}">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_profile' %}">Profile</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'menu_extraction' %}">Extract</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'services' %}">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
      <li class="nav-item">
      <span id="hello-msg">Hello, {{request.user}}</span>
      <span><a  id="hello-msg" href="{% url 'logout' %}">LogOut</a></span>
      </li>
  </nav>
  <br>
  <br>
            {% block content %}
            {% endblock %}
     
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>