{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<style>
	#messages{
			background-color: #747c7a;
			color: rgb(255, 255, 255);
            width: 650px;
			padding: 10px;
			margin-top: 10px;
      		border: 0 !important;
			border-radius: 0.25rem !important;
		}
</style>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
        <div class="card mb-4">
          <div class="card-body">
              
<h2>Embed Proof of Ownership</h2>
<hr>
<p> 
    This file is for embedding ownership for a sound document
</p>

<p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class = 'btn-outline-info  btn-sm btn-block' style="height:40px;width:100px;"text-align="center" >Embed File</button>
    </form>
</p>
<p>
    <a href="{% url 'embed_ownership' %} " class = 'btn btn-warning' style="height:40px;width:100px;" text-align="center" >&#8592; Return </a>
</p>

</div>
</div>
</div>
</div>
</div>

<div>

{% for message in messages %}
  <center><p id ="messages">{{message}}</p></center>
{% endfor %}
</div>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
        <div class="card mb">
          <div class="card-body">
            <p>
                {% if last_object.file%}<!-- File in this case in the file route-->
                <img src="{% static 'site_images/audio2.png' %}" alt="Text File/Audio File" style="width: 120px;">
                <span class>      </span>
                <span class><b>&nbsp;&nbsp;&nbsp;&nbsp; Embedded Message:</b> This document belongs to {{last_object.owner}}&nbsp;&nbsp; </span>
                <span ><b><i>{{last_object.info}}</i></b></span>
                <p><a href="{% url 'embedded_files' %} " class = 'btn btn-sm btn-info' style="height:40px;width:130px;" text-align="center" >Embedded Files </a></p>
                {%else%}
                <span class="text-muted">No Cover</span>
                {% endif %}
            </p>
           </div>
        </div>
      </div>
    </div>
</div>


{% endblock %}