
{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center hero" style="background: url('{% static "assets/img/hero-bg.png" %}')">
    

    <div class="container" >
    <div class="container" >
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">A Platform to Manage Digital Provanence</h1>
          <br>
          <h4 data-aos="fade-up" data-aos-delay="400">Enforcing Ownership Claims and Safeguarding Intellectual Property</h4>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="{% url 'menu_embed' %}" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started </span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>
    
    <br>
    <div >
      <center><img src="{% static 'site_images/uct_logo.png' %}" alt="Text File/Audio File" style="width: 75px;"></center>
      
      <center><span style="font-size: 12px; font-style: italic; color: rgb(61, 3, 127);">School Of Economics : Fintech Project</span></center>
    </div>
    
  </div>

    
   

    


  </section><!-- End Hero -->

         <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Origin Of OwnIt</h3>
              <p style="text-align: justify;">
                <b>OwnIT</b> originates from a FinTech Masters thesis by <b style="color: rgb(0, 77, 105);"><a href="https://www.linkedin.com/in/zipho-luvuno-127898100/">Zipho Luvuno</a></b>, with the aim of enhancing/automating digital provenance management. 
                This solution establishes ownership rights, deters unauthorized copying, and protects intellectual property 
                through advanced watermarking and cryptographic hash functions.
              </p>
              <p style="text-align: justify;">
               With transparency at its core, users confidently claim ownership and trace asset provenance securely. 
                This platform fosters collaboration among creators and rights holders, safeguarding the integrity of the digital ecosystem.
              </p>
              <div class="text-center text-lg-start">
                <a href="#services" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>See More</span>
                  <i class="bi bi-arrow-down"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->
  
      <!-- ======= Features Section ======= -->
      <section id="features" class="features">
  
        <div class="container" data-aos="fade-up">
  
          <header class="section-header">
            <h2>Features</h2>
          </header>
  
          <div class="row">
  
            <div class="col-lg-6">
              <img src="{% static 'assets/img/features.png' %}" class="img-fluid" alt="features-img">
            </div>
  
            <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
              <div class="row align-self-center gy-4">
  
                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Warkmark Embedding</h3>
                  </div>
                </div>
  
                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Warkmark Extraction</h3>
                  </div>
                </div>
  
                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Copy Control</h3>
                  </div>
                </div>
  
                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Ownership Transfer Capability</h3>
                  </div>
                </div>
  
                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Digital Property Wallet</h3>
                  </div>
                </div>
  
                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Images, PDF, Audio functionality</h3>
                  </div>
                </div>
  
              </div>
            </div>
  
          </div> <!-- / row -->
        

         
  
        </div>
  
      </section><!-- End Features Section -->

       <!-- ======= Values Section ======= -->
       <section id="values" class="values">

        <div class="container" data-aos="fade-up">
  
          <header class="section-header">
            <h2>Our Values</h2>
            <p>We Believe In: </p>
          </header>
  
          <div class="row">
  
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
              <div class="box">
                <img src="{% static 'assets/img/values-2.png' %}" class="img-fluid" alt="">
                <h3>Integrity</h3>
                <p>By implementing robust watermarking algorithms and cryptographic hash functions, we ensure that digital provenance is maintained and protected.</p>
              </div>
            </div>
  
            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
              <div class="box">
                <img src="{% static 'assets/img/values-1.png' %}" class="img-fluid" alt="">
                <h3>Ownership Rights</h3>
                <p>Our platform enables users to establish a clear chain of ownership, discouraging illegal copying or unauthorized usage of copyrighted materials.</p>
              </div>
            </div>
  
            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
              <div class="box">
                <img src="{% static 'assets/img/values-3.png' %}" class="img-fluid" alt="">
                <h3>Collaboration</h3>
                <p> We value collaboration and recognize the importance of working together to combat digital piracy and protect intellectual property rights.</p>
              </div>
            </div>
  
          </div>
  
        </div>
  
      </section><!-- End Values Section -->
  
      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
  
        <div class="container" data-aos="fade-up">
  
          <header class="section-header">
            <h2>Services</h2>
            <p>Provided Services</p>
          </header>
  
          <div class="row gy-4">
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="service-box blue">
                <i class="ri-discuss-line icon"></i>
                <h3>Watermark Embedding </h3>
                <p>Securely embed unique watermarks in digital assets to establish ownership and prevent unauthorized copying.</p>
      
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="service-box orange">
                <i class="ri-discuss-line icon"></i>
                <h3>Watermark Extraction</h3>
                <p>Seamlessly extract and authenticate watermarks from your digital assets, tracking their provenance.</p>
                
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="service-box green">
                <i class="ri-discuss-line icon"></i>
                <h3>Digital Ownership Market </h3>
                <p>  Facilitate verifiable transfer of digital asset ownership between users.</p>
               
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
              <div class="service-box red">
                <i class="ri-discuss-line icon"></i>
                <h3>Digital Wallet</h3>
                <p>Store and manage digital assets securely in a user-friendly digital wallet.</p>
             
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
              <div class="service-box purple">
                <i class="ri-discuss-line icon"></i>
                <h3>Digital Provenance </h3>
                <p>Trace ownership history of digital assets with a secure cloud-based database. Establish authenticity and claim digital property ownership. </p>
               
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
              <div class="service-box pink">
                <i class="ri-discuss-line icon"></i>
                <h3>Copyright Verification</h3>
                <p>Verify copyright authenticity and protect intellectual property rights, ensuring a trustworthy digital ecosystem.</p>
          
              </div>
            </div>
  
          </div>
  
        </div>
  
      </section><!-- End Services Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <h4>White Paper Access</h4>
            <p>For inquiries or requests pertaining to the platform's white paper, enter your email address below. </p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="{% static 'site_images/logo1.png' %} alt="">
            </a>
            <p>OwnIT: A platform for secure digital provenance management, enabling confident ownership claims and safeguarding intellectual property.</p>
            <div class="social-links mt-3">
              <a href="https://www.linkedin.com/in/zipho-luvuno-127898100/" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{% url 'login' %}">Login</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Watermark Embedding</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Watermark Extraction</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Digital Ownership Market</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Digital Wallet</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Digital Provenance</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Copyright Verification</a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              70 Rivonia Rd Sandhurst<br>
              Sandton, 2196<br>
              South Africa <br><br>
              <strong>Email:</strong> zluvuno@gmail.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>OwnIT</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://www.linkedin.com/in/zipho-luvuno-127898100/">Zipho Luvuno</a>
      </div>
    </div>
  </footer><!-- End Footer -->


      
  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>




</body>


{% endblock %}