{% extends 'base.html' %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html>
    
<head>
	<title>Login</title>

</head>
<style>
    body,
    html {
      margin: 0;
      padding: 0;
      height: 100%;
      background: #ebeff5 !important;
    }

  </style>

<body>
	<main>
	  <div class="container">
		<section class="section register min-vh-90 d-flex flex-column align-items-center justify-content-center py-4">
		  <div class="container">
			<div class="row justify-content-center">
			  <div class="col-lg-4 col-md-14 d-flex flex-column align-items-center justify-content-center">
				<div class="d-flex justify-content-center py-4">
				  
				</div>
				{% for message in messages %}
				<div
				  class="card d-flex justify-content-center py-2"
				  style="background-color: #e7938794;"
				>
				  <div class="card-body">
					<center>
					  <h5 class="card-title">
						Input Response
  
						<i class="bi bi-emoji-wink"></i>
					  </h5>
					</center>
  
					{{message}}
				  </div>
				</div>
  
				<!-- End Error Card -->
				{% endfor %}
  
				<!-- End Logo -->
  
				<div
				  class="card mb-4"
				  style="overflow: hidden;"
				>
				  <div class="card-body">
					<div class="pt-0 pb-2">
					  <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
  
					  <p class="text-center small">
						Enter your username & password to login
					  </p>
					</div>
  
					<form
					  method="POST"
					  action=""
					  class="row g-3 needs-validation"
					  novalidate="novalidate"
					>
					  {% csrf_token %}
  
					  <div class="col-12">
						<label
						  for="yourUsername"
						  class="form-label"
						>Username</label>
  
						<div class="input-group has-validation">
						  <span
							class="input-group-text"
							id="inputGroupPrepend"
						  >@</span>
  
						  <input
							type="text"
							name="username"
							class="form-control"
							id="yourUsername"
							required="required"
						  ></input>
  
						  <div class="invalid-feedback">Please enter your username.</div>
						</div>
					  </div>
  
					  <div class="col-12">
						<label
						  for="yourPassword"
						  class="form-label"
						>Password</label>
  
						<input
						  type="password"
						  name="password"
						  class="form-control"
						  id="yourPassword"
						  required="required"
						></input>
  
						<div class="invalid-feedback">Please enter your password!</div>
					  </div>
  
					  <div class="col-12">
						<div class="form-check">
						  <input
							class="form-check-input"
							type="checkbox"
							name="remember"
							value="true"
							id="rememberMe"
						  ></input>
  
						  <label
							class="form-check-label"
							for="rememberMe"
						  >Remember me</label>
						</div>
					  </div>
  
					  <div class="col-12">
						<button
						  class="btn btn-primary w-100"
						  type="submit"
						>Login</button>
					  </div>
  
					  <div class="col-12">
						<p class="small mb-0">
						  Don't have account?
  
						  <a href="{% url 'register' %}">Create an account</a>
						</p>
					  </div>
					</form>
				  </div>
				  
				</div>

				<a
					href="{% url 'index' %}"
					class="logo d-flex align-items-center w-auto"
				  >
					<img
					  src="{% static 'site_images/logo1.png' %}"
					  style="width: 60px;"
					  alt=""
					>
  
					
				  </a>
				  <br>
  
				<div class="credits">
				  Created by
  
				  <a href="https://www.linkedin.com/in/zipho-luvuno-127898100/">Zipho Luvuno</a>
				</div>
			  </div>
			</div>
		  </div>
		</section>
	  </div>
	</main>
  
	<!-- End #main -->
  
	<a
	  href="#"
	  class="back-to-top d-flex align-items-center justify-content-center"
	>
	  <i class="bi bi-arrow-up-short"></i>
	</a>
  

  </body>

</html>

{% endblock %}