{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
        <div class="card mb-4">
          <div class="card-body">

            <center>
                <h2>Extraction File Information</h2>
                <hr>
                <p> 
                    Choose a media type for extraction
                </p>
                
                <p>
                    <a href="{% url 'extract_text_info' %} " class = 'btn btn-primary' style="height:100px;width:200px;" text-align="center" >Text File</a>
                    <a href="{% url 'extract_image_info' %} " class = 'btn btn-primary' style="height:100px;width:200px;" text-align="center" >Image File</a>
                    <a href="{% url 'extract_sound_info' %} " class = 'btn btn-primary' style="height:100px;width:200px;" text-align="center" >Sound File</a>
                </p>
                </center>
</p>
</div>
</div>
</div>
</div>
</div>

{% endblock %}