{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
        <div class="card mb-4">
          <div class="card-body">

<h2>Services</h2>
<hr>
<p> (1) This page will basically explain how this whole thing works </p>
<p> (2) It will have pictures/screen shots of what happen  </p>
<p> (3) It will have different icons showing that something is Sound, Pdf, or Image</p>
<p> (4) Maybe I might have a login page</p>

</div>
</div>
</div>
</div>
</div>

{% endblock %}